<p style="color: green"><%= notice %></p>

<h1>Kanban board</h1>
<%= link_to "New card", new_card_path, class:"btn btn-primary mb-1" %>

<div id="cards">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">Todo</li>
          <% @toDoCards.each do |card| %>
            <li class="list-group-item">
              <%= card.description %> <br />
              <%= link_to "Show this card", card, class:"btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">Doing</li>
          <% @doingCards.each do |card| %>
            <li class="list-group-item">
              <%= card.description %> <br />
              <%= link_to "Show this card", card, class:"btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">Done</li>
          <% @doneCards.each do |card| %>
            <li class="list-group-item">
              <%= card.description %> <br />
              <%= link_to "Show this card", card, class:"btn btn-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
